

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.elemento{
	background-color: black;
	height: 300px;
	border: solid 3px red;
}















