
    *{ 
        font-size: 14px; 
    } 
    body{ 
    background:#aaa; 
    background: url("imagenes/fondo_login.png");
    background-repeat: repeat;
    background-size: cover;
    } 
    form.registro { 
        background: url("imagenes/registro.png");
    background-size: 100% 100%;
    font-family: sans-serif; 
    margin: 90px; 
    margin-left: auto;
    margin-right: auto;
    padding: 20px; 
    width: 278px; 
    box-shadow:0px 0px 20px black; 
    border-radius:10px; 
    } 
    form.registro div { 
        margin-bottom: 15px; 
        overflow: hidden; 
    } 
    form.registro div label { 
        display: block; 
        float: left; 
        line-height: 25px; 
    } 
    form.registro div input[type="text"], form.registro div input[type="password"] { 
        border: 1px solid #DCDCDC; 
        float: right; 
        padding: 4px; 
    } 
    form.registro div input[type="submit"] { 
        background: none repeat scroll 0 0 #DEDEDE; 
        border: 1px solid #C6C6C6; 
        float: right; 
        font-weight: bold; 
        padding: 4px 20px; 
    } 

        form.registro div input[type="Registrarce"] { 
        background: none repeat scroll 0 0 #DEDEDE; 
        border: 1px solid #C6C6C6; 
        float: right; 
        font-weight: bold; 
        padding: 4px 20px; 
    } 
    .error{ 
        color: black;  
        margin: 10px; 
        text-align: left; 
    } 